@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-primary: var(--primary);
}

body {
    font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}

.dark {
    color: white;
}

@layer components {
    .btn {
        @apply inline-flex items-center justify-center gap-1 rounded-lg px-3 py-2 hover:bg-slate-100 dark:hover:bg-slate-800 dark:hover:text-white;
    }

    .btn-primary {
        @apply bg-green-600 text-white hover:bg-green-700!;
    }
}
